body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 2px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: medium;
  padding: 10px;
  margin: 15px 8px 10px 8px;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px 15px 10px;
  margin: 10px 8px 8px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin: 10px 8px 8px 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
}